JWT_KEY=396d399d8f19cb5b4ad13b25187449b0c0e7447cf4b06545a7b9a75e8f7cf20c
JWT_ALG=HS256
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=example
DB_HOST=localhost
DB_PORT=5432
DB_DRIVER=postgres
MODE='DEVELOPMENT'
OWNER_USER=admin
OWNER_PASS=change_this_password
OWNER_EMAIL=example@example.com