{% extends "base.html" %} {% block page %}

<div>hello world</div>

<div class="my-6">
    <!-- Lucide Icon Example -->
    <p class="flex items-center gap-2 text-primary text-xl font-bold bg-base-200 p-4 rounded-lg w-fit">
        <i data-lucide="rocket" class="w-6 h-6"></i>
        Lucide Icons are working!
    </p>
</div>

<div x-data="{ open: false }">

    <button @click="open = !open" :class="open ? 'bg-red-500' : 'bg-blue-500'" style="padding: 10px; color: white;">
        <span x-text="open ? 'Close Message' : 'Open Message'"></span>
    </button>

    <div x-show="open" x-transition>
        <p>Hello! I was toggled using Alpine.js.</p>
    </div>
</div>

<img id="frame"></img>
<script type="module">
    import { io } from "https://cdn.socket.io/4.7.5/socket.io.esm.min.js";

    try {
        const socket = io("http://localhost:8000/live", {
            path: "/sio/",
            auth: {
                "key": "val"
            }
        });

        socket.on("connect", () => {
            console.log("Connected to Socket.IO server!");
            console.log("Socket ID:", socket.id);
        });

        socket.on("connect_info", (data) => {
            console.log("Connect info received:", data);
        });


        socket.on("sv:live:0", (msg) => {
            let array = new Uint8ClampedArray(msg);
            let url = URL.createObjectURL(new Blob([msg], { type: 'image/jpg' }));

            let img = document.querySelector('#frame');
            img.src = url;
        })

        socket.on("test:event", (msg) => console.log("Test event:", msg))

    } catch (error) {
        console.log(error);
    }


</script>

{% endblock %}